.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-bottom: var(--section-padding-y);
  text-align: center;

  @include mobile {
    min-height: 639px;
  }

  &__pano {
    --heroGradientColorStart: var(--color-black-08);
    --heroGradientColorEnd: rgba(20 20 20 / 0);

    --heroGradientTop: linear-gradient(
    to bottom,
    var(--heroGradientColorStart) 0%,
    var(--heroGradientColorEnd) 100%
    ) 50% 0 / 100% 67.5%;

    --heroGradientBottom: linear-gradient(
        to top,
        var(--heroGradientColorStart) 0%,
        var(--heroGradientColorEnd) 100%
    ) 50% 101% / 100% 67.5%;

    @include flex-center;

    flex-grow: 1;
    padding-top: fluid(125, 100);
    padding-bottom: fluid(131, 50);

    background:
      var(--heroGradientTop),
      var(--heroGradientBottom),
      url("@/assets/images/hero/bg.png") 50% / cover;
    background-repeat: no-repeat;

    }

  &__play-button {
    @include square(fluid(470, 200));

    padding: 0;
    background-color: transparent;
    border: none;
  }

  &__body {
    padding-bottom: fluid(50, 20);
  }

  &__title {
    margin-top: -0.5em;
    margin-bottom: fluid-to-laptop(14, 10);
  }

  &__description {
    margin-bottom: fluid(50, 30);
  }
}